.articlewrapper {
  grid-area: wrapper;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 7fr;
  grid-template-areas:
    'articlewrapperhead'
    'articlewrapperbody'
    'articlewrapperlist';
  outline: 1px solid black;
  height: 80vh;
}

.articlewrapper-head {
  grid-area: articlewrapperhead;
  outline: 1px solid black;
}

.articlewrapper-body {
  grid-area: articlewrapperbody;
  outline: 1px solid black;
  display: block;
  overflow-y: scroll;
}

.articlewrapper-list {
  grid-area: articlewrapperlist;
  height: 56vh;
}
