.articlewrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 3fr;
  grid-template-areas:
    'head'
    'body'
    'list';
}

.articlewrapper-head {
  grid-area: head;
}

.articlewrapper-body {
  grid-area: body;
}

.articlewrapper-list {
  grid-area: list;
}
