.glow-green {
  border-radius: 50%;
  box-shadow: inset 0 0 10px white, inset 10px 0 20px lime,
    inset -10px 0 20px cyan, inset 10px 0 20px lime, inset -10px 0 20px cyan,
    0 0 10px white, -5px 0 20px cyan, 5px 0 20px lime;
}

.glow-red {
  border-radius: 50%;
  box-shadow: inset 0 0 10px white, inset 10px 0 20px red,
    inset -10px 0 20px yellow, inset 10px 0 20px red, inset -10px 0 20px yellow,
    0 0 10px white, -5px 0 20px yellow, 5px 0 20px red;
}

.vote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'up-arrow total-votes'
    'down-arrow total-votes';
  outline: solid 1px rgba(255, 255, 255, 1);
}

.up-arrow {
  grid-area: up-arrow;
  object-fit: scale-down;
  height: 1em;
}

.down-arrow {
  grid-area: down-arrow;
  object-fit: scale-down;
  height: 1em;
}

.total-votes {
  grid-area: total-votes;
}
