.itemlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    'head'
    'list';
}

.itemlist-head {
  grid-area: head;
}

.itemlist-list {
  grid-area: list;
  display: block;
  overflow-y: scroll;
}
