.commentblock {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    'head vote'
    'body body';
}

.commentblock-head {
  grid-area: head;
}

.commentblock-vote {
  grid-area: vote;
}

.commentblock-body {
  grid-area: body;
}
