.content {
  text-align: center;
  grid-area: content;
  border: solid 1px rgba(0, 0, 255, 1);
  background-color: rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 9fr 1fr 4fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    'cont-head cont-vote subcontent'
    'cont-body cont-body subcontent'
    'cont-add cont-add subcontent';
  height: 80vh;
  /*width: 100%; */
}

.cont-head {
  grid-area: cont-head;
  border: solid 1px rgba(0, 0, 0, 1);
}

.cont-vote {
  grid-area: cont-vote;
  border: solid 1px rgba(0, 0, 0, 1);
}

.cont-body {
  grid-area: cont-body;
  border: solid 1px rgba(0, 0, 0, 1);
  overflow: scroll;
}

.cont-add {
  grid-area: cont-add;
  border: solid 1px rgba(0, 0, 0, 1);
}

.subcontent {
  grid-area: subcontent;
  border: solid 1px rgba(0, 0, 0, 1);
}
