.articleblock {
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-template-rows: 3em 6em;
  grid-template-areas:
    'articleblockhead articleblockvote'
    'articleblockbody articleblockbody';
  outline: 1px solid black;
  height: 9em;
}

.articleblock-head {
  grid-area: articleblockhead;
  outline: 1px solid black;
  height: 3em;
}

.articleblock-vote {
  grid-area: articleblockvote;
  outline: 1px solid black;
  height: 3em;
  width: 3em;
}

.articleblock-body {
  grid-area: articleblockbody;
  outline: 1px solid black;
  display: block;
  overflow-y: scroll;
  height: 6em;
  box-sizing: border-box;
}
