.commentblock {
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-rows: 2em 3em;
  grid-template-areas:
    'commentblockhead commentblockvote'
    'commentblockbody commentblockbody';
  border: 1px solid black;
  height: 5em;
}

.commentblock-head {
  grid-area: commentblockhead;
  border: 1px solid black;
  height: 2em;
}

.commentblock-vote {
  grid-area: commentblockvote;
  border: 1px solid black;
  height: 2em;
  width: 2em;
}

.commentblock-body {
  grid-area: commentblockbody;
  border: 1px solid black;
  display: block;
  overflow-y: scroll;
  height: 3em;
  box-sizing: border-box;
}
