.commentblock {
  display: grid;
  grid-template-columns: 1fr 3em;
  grid-template-rows: 3em 5em;
  grid-template-areas:
    'commentblockhead commentblockvote'
    'commentblockbody commentblockbody';
  outline: 1px solid black;
  height: 8em;
}

.commentblock-head {
  grid-area: commentblockhead;
  outline: 1px solid black;
  height: 3em;
}

.commentblock-vote {
  grid-area: commentblockvote;
  outline: 1px solid black;
  height: 3em;
  width: 3em;
}

.commentblock-body {
  grid-area: commentblockbody;
  outline: 1px solid black;
  display: block;
  overflow-y: scroll;
  height: 5em;
  box-sizing: border-box;
}
