.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    'home header login'
    'left wrapper wrapper'
    'bottom bottom bottom';
  height: 100vh;
  width: 100vw;
}
.Router {
  grid-area: wrapper;
}

.flex-center {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-top-center {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
}

.text-block {
  display: block;
  overflow-y: scroll;
  text-align: justify;
  padding: 1%;
}

* {
  font-size: 1.5vw;
}

th,
h3 {
  font-size: 3vw;
}

h1,
h2 {
  font-size: 5vw;
}