.nav {
  grid-area: left;
  outline: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    'nav-menu'
    'nav-table';
  height: 80vh;
}

.nav-menu {
  grid-area: nav-menu;
  outline: 1px solid black;
}

.nav-table {
  grid-area: nav-table;
  height: 100%;
}

.nav-list {
  grid-area: nav-list;
  border-top: 1px solid black;
  display: block;
  overflow-y: scroll;
  text-align: left;
  height: 48vh;
}

.article-link {
  font-size: 75%;
}

.article-row {
  outline: 1px solid black;
}
