.nav {
  grid-area: left;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8fr;
  grid-template-areas:
    'nav-menu'
    'nav-table';
}

.nav-menu {
  grid-area: nav-menu;
  border: 1px solid black;
}

.nav-table {
  grid-area: nav-table;
  height: 63vh;
  padding: 5%;
}

.nav-list {
  grid-area: nav-list;
  border: 1px solid black;
  display: block;
  overflow-y: scroll;
  font-size: 0.75em;
  text-align: left;
}
