.itemlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3em 1fr;
  grid-template-areas:
    'itemlisthead'
    'itemlistlist';
  outline: 1px solid black;
  height: 100%;
}

.itemlist-head {
  grid-area: itemlisthead;
  outline: solid 1px black;
}

.itemlist-list {
  grid-area: itemlistlist;
  overflow-y: scroll;
  display: block;
  outline: solid 1px black;
}
